language: node_js
node_js:
  - "node"
services:
  - docker
sudo: required

script:
  - docker run --rm -d -p 27017:27017 --name="test" mongo:3.6.4;
	(npm test && npm run test:integration && docker stop test) || docker stop test;