language: node_js

node_js:
  - lts/*

services:
  - docker

sudo: required

install:
  - npm install

before_script:
  - docker run --rm -d -p 27017:27017 --name="test" mongo:3.6.4

script:
  - npm test && npm run test:integration

after_script:
  - docker stop test
